<!DOCTYPE html>
{% autoescape off%}
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
Monash C&S Membership Database
           </a>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <p>

		  <br>

		{% if loginMessage %}
        <p>
			<font color="red">
				{{ loginMessage }}
			</font>
		</p>
		{% endif %}
		
		<font size='5'>General Functions:</font>
		  
          <br>
		{% if addNewPerson %}
          <a class="title  imgScanned click" href="/register">
            <font size='5'>Register for the C&S Membership database</font>
          </a> - Register a new person in the system.
          <br>
		{% endif %}
		{% if addMemberToClub %}
          <a class="title  imgScanned click" href="/addMembers">
            Add Member to club
          </a> - Add a person already into a system to a club.
          <br>
		{% endif %}
		{% if addPeopleToEvents %}
          <a class="title  imgScanned click" href="/addMembersToEvent">
            Add People To Event
          </a> - Add people to a event.
		  <br>
		{% endif %}
		{% if modifyDetails %}
          <a class="title  imgScanned click" href="/modifyDetails">
            Modify Details
          </a> - Change the details for your own account.
		  <br>
		{% endif %}
		{% if viewClubs %}
          <a class="title  imgScanned click" href="/viewClubs">
            View Club List
          </a> - View a list of all clubs.
		  <br>
		{% endif %}
		<br>
		{% if secretaryRights %}
		<font size='5'>Secretary Only:</font>
		<br>Personal Information about Club Members can ONLY be accessed by the Secretary of the Club. Failure to comply with Section 6.2.2(xiv) of the Clubs & Societies Council Constitution and your Club's Constitution will result in disciplinary action against your Club, your Club's Committee and any other individuals involved. Clubs must not under any circumstances pass this information onto a third party 
		<br>
		{% endif %}
		<br>
		{% if addPersonnelToClub %}
          <a class="title  imgScanned click" href="/addPersonnelToClub">
            Add Personnel To Club
          </a> - Add people to the club so that they can add people to the club as well as events.
          <br>
		{% endif %}
		{% if deleteClubPersonnel %}
          <a class="title  imgScanned click" href="/deletePersonnelFromClub">
            Remove Personnel From Club
          </a> - Remove personnel so that they can no longer add people to the club or events.
          <br>
		{% endif %}
		{% if deleteFromClub %}
		  <a class="title  imgScanned click" href="/deleteMember">
            Remove Member From Club
          </a> - Removes the person from a club for a specific year.
          <br>
		{% endif %}
		{% if viewClubPermissions %}
          <a class="title  imgScanned click" href="/selectClubPermissionsToView">
            View Permissions For Club
          </a> - View everyone who has access to the clubs system. 
          <br>
		{% endif %}
		{% if viewClubMembers %}
          <a class="title  imgScanned click" href="/selectClubToView">
            View Club Members
          </a> - View everyone in the club.
		  <br>
		{% endif %}
		{% if viewMemberCount %}
          <a class="title  imgScanned click" href="/viewMembershipTotals">
            View Club Membership Count(s)
          </a> - View the details of how many members each club had in each year.
		  <br>
		{% endif %}
		{% if viewClubEmails %}
          <a class="title  imgScanned click" href="/selectClubEmails">
            Get Club Emails
          </a> - Generate a list of all emails for a club
		  <br>
		{% endif %}
		{% if checkMemberStatus %}
          <a class="title  imgScanned click" href="/checkMemberStatus">
            Check Member Status
          </a> - Check the status of a member.
		  <br>
		{% endif %}
		{% if addEvent %}
          <a class="title  imgScanned click" href="/addEvent">
            Add Event
          </a> - Create a new event
		  <br>
		{% endif %}

		{% if viewEventAttendees %}
          <a class="title  imgScanned click" href="/selectEventToView">
            View Event Attendees
          </a> - View the people who have signed in at a event.
		  <br>
		{% endif %}
		<br>
		{% if adminRights %}
		<font size='5'>Admin Only: </font> <br>
		{% endif %}

		{% if viewAllEvents %}
          <a class="title  imgScanned click" href="/viewEvents">
            View All Events
          </a> - View a list of all events.
		  <br>
		{% endif %}
		{% if addMSACard %}
		  <a class="title  imgScanned click" href="/addMSACard">
            Add MSA Card To Person
          </a> - Add a MSA card to a specific person.
          <br>
		{% endif %}
		{% if addMSACard %}
		  <a class="title  imgScanned click" href="/changeStudentID">
            Change Student ID
          </a> - Changes the student ID of a specific person.
          <br>
		{% endif %}
		{% if deletePersonFromSystem %}
		  <a class="title  imgScanned click" href="/deletePerson">
            Delete Person
          </a> - Compeltely deletes the user from the system. No coming back from this.
          <br>
		{% endif %}
		{% if addClub %}
          <a class="title  imgScanned click" href="/addClub">
            Add Club
          </a> - Create a new club.
          <br>
		{% endif %}
		{% if deleteClub %}
          <a class="title  imgScanned click" href="/deleteClub">
            Delete Club
          </a> - Permenantly deletes the club. No coming back. Do not mess with this.
          <br>
		{% endif %}
        </p>
      </div>
	  {{ logoutMessage }}
	<br><br>
	<font size='1'>
	<a class="title  imgScanned click" href="http://monashclubs.org/">
            Clubs and Societies
          </a> is a division of the 
	<a class="title  imgScanned click" href="http://monashstudentassociation.com/">
            Monash Student Association Inc.
          </a> Developed By James Austin. Copyright 2013.
	</font>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>
  </body>

</html>
{% endautoescape %}
